@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Tinos&display=swap');
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
	margin: 0;
	background-color:#F4F3F3
}
h1,h2
{
	font-family: 'Tinos', serif;
	color: #056CB6;
}
h3
{
	font-family: 'Tinos', serif;
	color: #a30a0a;
}
h8
{
	font-family: 'Tinos', serif;
	color: #000000;
}
h1{ font-size: 36px}
h2{ font-size: 30px}
h3{ font-size: 18px}
h8{ font-size: 18px}
h4{ 
    font-size: 15px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    
}
h5{ 
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #AAAAAA;
}
p{ line-height: 1.5rem; margin-top: 0}
ul li{ padding: 5px}
h1,h2,h3,h4{ margin-top: 0}
.container{ width: 80%; margin: auto}

*{
	box-sizing: border-box
}
.row{ display: flex; flex-wrap: wrap}
.col-1{ width: 8.33%}
.col-2{ width: 16.66%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width: 41.66%}
.col-6{ width: 50%}
.col-7{ width: 58.33%}
.col-8{ width:66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}

[class*="col-"]
{
	padding: 15px;
	/*border: 1px solid red*/
}
/*---- canh giữa/chia các phần/ trái/ phải/ các cột trong row/flex theo chiều ngang*/
.d-flex{ display: flex}
	.justify-center{ justify-content: center}
	.justify-around{ justify-content: space-around}
	.justify-between{ justify-content:space-between}
	.justify-start{ justify-content:flex-start}
	.justify-end{ justify-content: flex-end}

.align-items-center{ align-items: center}
/*--- canh algin text ----*/
.text-right{ text-align: right}
.text-center{ text-align: center}
.text-jutify{ text-align: justify}
.text-left{ text-align: left}
/*--- thư viện color----*/
.text-light{ color: #eee}
.text-primary { color: #056CB6}
.bg-primary{ background-color: #7b407b;}
.btn-primary{ background-color:#056CB6; color:white; padding: 10px ; border: none; border-radius: 5px; cursor: pointer}
.btn-primary:hover{ background-color: #F2C94C}
/*----------------- mau phu-------------*/
.text-secondary { color:#F2C94C}
.bg-secondary { background-color:#7b407b; }
.btn-secondary{
	background-color:#306bff; 
	color:white; padding:10px ; 
	border: none;
	border-radius: 5px;
	cursor: pointer
}
.btn-secondary:hover{ background-color:#E89012}
.bg-white{ background-color: #fff}
/*----------- spacing-style---------*/
.ml-5{margin-left: 5px}
.ml-10{margin-left: 10px}
.mr-5{margin-right: 5px}
.mr-10{ margin-right: 10px}
.mt-10{ margin-top: 10px}
.mt-20{ margin-top: 20px}
.mt-30{ margin-top: 30px}
.mt-38{ margin-top: 38px}
.mt-40{ margin-top: 40px}
.mt-50{ margin-top: 50px}
.mt-60{ margin-top: 60px}
.mt-70{ margin-top: 70px}
.mt-80{ margin-top: 80px}
.mt-85{ margin-top: 85px}
.mt-90{ margin-top: 90px}
.mt-95{ margin-top: 95px}
.mt-98{ margin-top: 98px}
.mt-100{ margin-top: 100px}
.mt-105{ margin-top: 105px}
.mt-110{ margin-top: 110px}
.mt-120{ margin-top: 120px}
.mt-130{ margin-top: 130px}
.mt-135{ margin-top: 135px}
.mt-140{ margin-top: 140px}
.mt-150{ margin-top: 150px}
.mt-190{ margin-top: 190px}
.mt-200{ margin-top: 200px}
.mt-210{ margin-top: 210px}
.mt-220{ margin-top: 220px}
.mt-230{ margin-top: 230px}
.mb-10{ margin-bottom: 10px}
.mb-20{ margin-bottom: 20px}
.mb-50{ margin-bottom: 50px}
.mb-60{ margin-bottom: 60px}
.mb-70{ margin-bottom: 70px}
.mb-80{ margin-bottom: 80px}
.mb-85{ margin-bottom: 85px}
.mb-90{ margin-bottom: 90px}
.mb-95{ margin-bottom: 95px}
.mb-98{ margin-bottom: 98px}
.mb-100{ margin-bottom: 100px}
.mx-auto{ margin-left: auto;margin-right: auto}
.p-0{padding: 0}
.py-10{ padding-top: 10px; padding-bottom: 10px}
.py-50{ padding-top: 50px; padding-bottom: 50px}
.px-10{ padding-left: 10px; padding-right: 10px}
.p-20{ padding: 20px}
.p-5{ padding: 5px}
/*-------style cho img-------------*/
.img-100{ width: 100%; height: auto}
.img-circle{ border-radius: 50%}
.img-circle-10{ border-radius: 10px}
.logo-header {
	margin-left: 100 px;
}
/*-------style cho form-----------*/
form {
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

/* Styles for input elements */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styles for select elements */

select {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



textarea {
    resize: vertical; /* Cho phép điều chỉnh kích thước theo chiều dọc */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
}

.checkbox {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: none; /* Ẩn checkbox mặc định */
}

.checkbox label {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background-color: #4CAF50; /* Màu của checkbox khi được đánh dấu */
}

.checkbox label::after {
    content: '\2713'; /* Ký tự checkmark Unicode */
    font-size: 14px;
    color: #fff; /* Màu của ký tự checkmark */
    position: absolute;
    top: 2px;
    left: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}

.checkbox input[type="checkbox"]:checked + label::after {
    opacity: 1; /* Hiển thị checkmark khi checkbox được đánh dấu */
}

/* GIẤY A4 */
.a4-page {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    box-sizing: border-box;
    page-break-after: always;
    border: 1px solid #000;
    margin: 0 auto;
}
.download-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
@media print {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .a4-page {
        page-break-after: always;
    }
}

/* Header and Footer for print_page */

.headerP-image {
    width: 100%;
    height: auto;
    position: relative;
}
.footerP-image {
    width: 100%;
    height: auto;
    position: relative;
}
.content {
    margin-top: 20mm;
    margin-bottom: 20mm;
}



/* A4 */

/* Header */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.header-left,
.header-right {
    width: 45%;
    text-align: center;
}

.header-left p,
.header-right p {
    margin: 2px 0;
    line-height: 1.2;
    font-size: 14px; /* Giảm kích thước chữ */
}

.header-left p:last-child,
.header-right p:last-child {
    padding-bottom: 5px;
}

.small-linea {
    width: 84%;
    border-top: 0.5px solid #000;
    margin-left: 26.5px;
}
.small-lineb {
    width: 58%;
    border-top: 0.5px solid #000;
    margin-left: 68px;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.info {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.info .info-boxa {
    width: 15%;
    text-align: justify;
    border: 1px solid #000;
    padding: 10px;
    line-height: 1.2;
    font-size: 10px; /* Giảm kích thước chữ */
    margin: 0 0px;
}
.info .info-boxb {
    width: 30%;
    text-align: justify;
    border: 1px solid #000;
    padding: 10px;
    line-height: 1.2;
    font-size: 10px; /* Giảm kích thước chữ */
    margin: 0 0px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-section {
    width: 32%;
    text-align: center;
}

.footer-section p {
    margin: 0;
    font-size: 14px;
}

.signature-line {
    margin-top: 100px;
    border-bottom: 1px solid #000;
    width: 100%;
    display: inline-block;
}

.info-box-footer {
    display: flex;
    justify-content: right;
    margin-top: 42px;
}
.info-box-footer p {
    margin-top: -20px;
    margin-bottom: 13px;
    font-size: 9px;
}

.box-footera {
    width: 80px;
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    line-height: 1.2;
}
.box-footerb {
    width: 150px;
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    line-height: 1.2;
}



 /* Thông tin trong trang a4 */


.form-a4 {
    text-align: left;
    margin-top: 7px;
    
    
}
.form-a4 p {
    font-size: 15px;
}

.form-input {
    border: none;
    border-bottom: 1px solid #000;
    width: 10px;
}

input[type="texta4"],
input[type="emaila4"],
input[type="tela4"],
input[type="numbera4"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



